* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 950px;
    background-color: white;

}

.calculator {
    width: 500px;
    height: 800px;
    border-style: solid;
    border-color: rgb(109, 101, 101);
    margin: 20px auto;
}

/* creen */
.creen {
    width: 100%;
    height: 30%;
    background-color: white;
}

#calculation {
    border: solid;
    border-color: rgb(109, 101, 101);
    height: 90px;
}

#creen-result {
    border: solid;
    border-color: rgb(109, 101, 101);
    height: 60px;
    margin-top: 40px;
}

/* .operation */
.operation {
    background-color: ivory;
}

.operation-button {
    height: 25%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.button {
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 25px;
    border-style: solid;
    border-color: black;
}

.button-calculation {
    background-color: orange;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 23px;
    border-style: solid;
    border-color: black;
}


#button0 {
    width: 180px;
    height: 90px;
    background-color: white;
    border-radius: 30rem;
    font-size: 23px;
    border-style: solid;
    border-color: black;
}


.AllbuttonRemove {
    background-color: orange;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 23px;
    border-style: solid;
    border-color: black;
}

.square {
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 25px;
    border-style: solid;
    border-color: black;
}